<style>
    footer {
        height: 50vh;
        background-color: #011821;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        width: 80%;
        border-bottom: 2px solid white;
        padding-bottom: 10px;
    }

    .top form {
        border-bottom: 2px solid white;
        margin-bottom: 30px;
    }

    .top form input {
        height: 40px;
        width: 250px;
        background-color: rgba(245, 222, 179, 0);
        border: none;
        outline: none;
        padding: 15px;
        color: white;
    }

    .top button {
        background-color: rgba(250, 235, 215, 0);
        border: none;
    }

    footer p {
        width: 40%;
        color: white;
        margin-left: 130px;
        margin-top: 10px;
        font-size: 14px;
    }

    @media only screen and (max-width:900px) {

        footer {
            height: 30vh;
        }

        footer p {
            font-size: 10px;
            width: 90%;
            margin-left: 13px;
        }

        footer .top {
            width: 100%;
            padding: 10px 15px;
        }

        .top form input {
            width: 120px;
            font-size: 10px;
            padding: 0%;
        }


    }

    footer a:hover {
        margin-top: -10px;
        transition: all .6s;
    }

    footer a img {
        height: 30px;
        width: 30px;

    }

    .socialss {
        display: flex;
        gap: 20px;
    }

    #beh {
        height: 30px;
        width: 30px;
        border-radius: 60%;
        background-color: white;
    }
</style>

<footer>
    <center>
        <div class="top">
            <img src="/images/ZEE DESIGN LOGO 11 [Recovered] 1.png" alt="">
            <div class="socialss">
                <p>Click icon to select</p>
                <a href="okokonewomazino@gmail.com"><img src="\images\icons8-gmail-96.png" alt=""></a>
                <a
                    href="https://www.linkedin.com/in/okokon-ewomazino-3a8532295?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img
                        src="\images\linkein.png" alt=""></a>
                <a href="https://wa.me/2348072219794"><img src="\images\whatsapp.png" alt=""></a>
                <a href="https://www.behance.net/okokonewomazino"><img src="\images\behance.png" alt="" id="beh"></a>
                <a href="https://www.instagram.com/okokonewomazinogift?igsh=NXk4Z2J6enQ3YXIx"><img
                        src="\images\instagram.png" alt=""></a>
            </div>
        </div>
    </center>
    <p>I’m Okokon Ewomazino Gift (Zeedesign) With a suitable Experience level.
        Crafting Your Vision Into Our Design.</p>
</footer>