<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 23px;
        background-color: black;
    }

    nav ul {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    nav h3 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    nav ul a {
        text-decoration: none;
        color: white;
        font-size: 17px;
        z-index: 3434;
    }

    #menu {
        display: none;
    }

    #current {
        padding: 5px 10px;
        border-bottom: 1px solid white;
        border-radius: 2px;
        color: rgb(229, 116, 3);
    }

    @media only screen and (max-width:900px) {

        #menu {
            display: block;
        }

        nav {
            position: fixed;
            width: 100%;
            top: 0%;
            z-index: 949494;
        }

        nav ul {
            flex-direction: column;
            height: 50vh;
            position: fixed;
            background-color: #5858588b;
            width: 100vw;
            padding: 30px 0px;
            z-index: 494;
            top: 7%;
            right: 10%;
            z-index: 4343;
            backdrop-filter: blur(10px);
            border-radius: 9px;
        }

        #nav {
            /* display: none; */
            width: 0%;
            overflow: hidden;
            transition: all 0.5s ease;
        }
    }
</style>
<% if (page=='home' ) { %>
    <nav>
        <h3>Okeme Desmond Izu</h3>
        <ul id="nav">
            <a href="/">
                <li id="current">Home</li>
            </a>
            <a href="/portfolio">
                <li>Portfolio</li>
            </a>
            <a href="/about">
                <li>About Us</li>
            </a>
            <a href="/contact">
                <li>Contact Us</li>
            </a>
            <a href="/admin">
                <li>Dashboard</li>
            </a>
        </ul>
        <img src="/images/icon-hamburger.svg" alt="" id="menu">
    </nav>

    <% } else if (page=='portfolio' ) { %>

        <nav>
            <h3>Okeme Desmond Izu</h3>
            <ul id="nav">
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/portfolio">
                    <li id="current">Portfolio</li>
                </a>
                <a href="/about">
                    <li>About Us</li>
                </a>
                <a href="/contact">
                    <li>Contact Us</li>
                </a>
                <a href="/admin">
                    <li>Dashboard</li>
                </a>
            </ul>
            <img src="/images/icon-hamburger.svg" alt="" id="menu">
        </nav>
        <% } else if (page=="about" ) { %>
            <nav>
                <h3>Okeme Desmond Izu</h3>
                <ul id="nav">
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="/portfolio">
                        <li>Portfolio</li>
                    </a>
                    <a href="/about">
                        <li id="current">About Us</li>
                    </a>
                    <a href="/contact">
                        <li>Contact Us</li>
                    </a>
                    <a href="/admin">
                        <li>Dashboard</li>
                    </a>
                </ul>
                <img src="/images/icon-hamburger.svg" alt="" id="menu">
            </nav>
            <% } else if (page=='contact' ) { %>
                <nav>
                    <h3>Okeme Desmond Izu</h3>
                    <ul id="nav">
                        <a href="/">
                            <li>Home</li>
                        </a>
                        <a href="/portfolio">
                            <li>Portfolio</li>
                        </a>
                        <a href="/about">
                            <li>About Us</li>
                        </a>
                        <a href="/contact">
                            <li id="current">Contact Us</li>
                        </a>
                        <a href="/admin">
                            <li>Dashboard</li>
                        </a>
                    </ul>
                    <img src="/images/icon-hamburger.svg" alt="" id="menu">
                </nav>
                <% } else if (page=='dashboard' ) { %>
                    <nav>
                        <h3>Okeme Desmond Izu</h3>
                        <ul id="nav">
                            <a href="/">
                                <li>Home</li>
                            </a>
                            <a href="/portfolio">
                                <li>Portfolio</li>
                            </a>
                            <a href="/about">
                                <li>About Us</li>
                            </a>
                            <a href="/contact">
                                <li>Contact Us</li>
                            </a>
                            <a href="/admin">
                                <li id="current">Dashboard</li>
                            </a>
                        </ul>
                        <img src="/images/icon-hamburger.svg" alt="" id="menu">
                    </nav>
                    <% } else if (page=='details' ) { %>
                        <nav>
                            <h3>Okeme Desmond Izu</h3>
                            <ul id="nav">
                                <a href="/">
                                    <li>Home</li>
                                </a>
                                <a href="/portfolio">
                                    <li>Portfolio</li>
                                </a>
                                <a href="/about">
                                    <li>About Us</li>
                                </a>
                                <a href="/contact">
                                    <li>Contact Us</li>
                                </a>
                                <a href="/admin">
                                    <li>Dashboard</li>
                                </a>
                            </ul>
                            <img src="/images/icon-hamburger.svg" alt="" id="menu">
                        </nav>
                        <% } %>

                            <script>
                                let count = 0;
                                document.getElementById("menu").addEventListener('click', () => {

                                    if (count === 0) {
                                        document.getElementById("nav").style.width = "80%";
                                        document.getElementById('menu').setAttribute('src', "/images/icon-menu-close.svg");
                                        count++;
                                    } else {
                                        document.getElementById("nav").style.width = "0%";
                                        document.getElementById('menu').setAttribute('src', "/images/icon-hamburger.svg");
                                        count--;
                                    }
                                })

                            </script>