<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/admin/register" method="post">
        <input type="email" name="email" id="email">
        <input type="password" name="password" id="password">
        <button>Submit</button>
    </form>
</body>

</html>