* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins';
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    color: white;
}

h1 {
    font-size: 50px;
    width: 90%;
    text-align: center;
    font-weight: 400;
}

.z {
    color: rgb(227, 100, 2);
}

header p {
    font-size: 23px;
}

.dets {
    display: flex;
    padding: 50px;
}

.images {
    display: flex;
    flex-direction: column;
    width: 62%;
    gap: 20px;
}

.big {
    width: 80%;
    border-radius: 20px;
}

.thumbnails {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#tech {
    word-wrap: break-word;
    width: 50%;
    display: block;
    text-align: right;
}

.thumbnails img {
    width: 20%;
    border-radius: 5px;
}

.detstext {
    color: white;
    font-size: 20px;
    margin-top: 50px;
    width: 45%;
}

.detstext p {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.detstext p span:first-child {
    background-color: rgb(227, 100, 2);
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    width: 150px;
}

.description {
    padding: 10px 20px;
    color: white;
}

.description h2 {
    background-color: rgb(227, 100, 2);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 25px;
    }

    header {
        height: 30vh;
        padding-top: 76px;
    }

    header p {
        font-size: 12px;
    }

    .dets {
        flex-direction: column;
        width: 100%;
        padding: 20px;
        font-size: 12px;
    }

    .images {
        width: 100%;
    }

    .big {
        width: 100%;
    }

    .thumbnails {
        width: 100%;
    }

    .detstext {
        font-size: 15px;
        width: 100%;
    }

    .description {
        font-size: 13px;
    }

    .detstext p span:first-child {

        width: 120px;
    }
}