* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    color: white;
    font-size: 30px;
    flex-direction: column;
    text-align: center;
    font-family: 'poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    position: relative;
    background-color: white;
    padding-bottom: 100px;
    height: 80vh;
    background-color: black;
}

header h1 {
    width: 90%;
    font-weight: 500;
    z-index: 1;
}

.z {
    color: rgb(227, 100, 2);
}

.btn {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.right {
    background-color: white;
    width: 160px;
    height: 45px;
    color: black;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    z-index: 33;
}

.left {
    background-color: rgb(227, 100, 2);
    width: 160px;
    height: 45px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-evenly;

}

header button:hover {
    border: 1px solid #333333;
    background-color: #FF4D00;
    transition: all .4s;
}

.left:hover {
    border: 1px solid white;
    transition: all .4s;
}

a {
    text-decoration: none;
}

.circle {
    height: 350px;
    width: 350px;
    background-color: rgb(227, 100, 2);
    border-radius: 50%;
    position: absolute;
    filter: blur(149px);
    z-index: 0;
}

.r {
    right: 0%;
}

.red {
    height: 550px;
    width: 550px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    filter: blur(149px);
    left: 0%;
    top: 65%;
    z-index: 0;

}

main {
    background-color: black;
    padding-bottom: 50px;
    color: white;

}

.fi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.showglass {
    position: relative;
    z-index: 393;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    width: 90%;
    column-gap: 20px;
    row-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.showglass img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    z-index: 4;
}

.image {
    width: 100%;
    z-index: 333;
}

.obj {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: red;
}

.obj:first-child {
    grid-column: 2/span 2;
    grid-row: 1/span 2;
    height: 100%;
    background-color: #003E54;
}



.one {
    grid-row: 1/span 2;
    height: 100%;
}

.offers {
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 500;
    color: white;
}

.offers h2 {
    font-size: 40px;
    font-weight: 500;
}

.f {
    margin-left: 149px;
    text-align: left;
}

.container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background-color: rgb(227, 100, 2);
    width: 390px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border-radius: 15px;
    text-align: left;
    padding: 15px;
}

.card img {
    height: 50px;
    width: 50px;
}

.card h4 {
    font-weight: 500;
    font-size: larger;
    text-align: left;
}

.card p {
    font-size: 13px;
    text-align: left;
}

.prevwork {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.prev {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

h2 {
    font-size: 35px;
    color: white;
    font-weight: 400;
    width: 40%;
}

.text {
    width: 40%;
    color: white;
}

.text button {
    width: 220px;
    margin-top: 20px;
}

.workcard {
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid white;
}

.workcard h4 {
    font-size: 20px;
    color: white;
}

.workcard .preview {
    width: 100%;
    border: 1px solid white;
    height: 300px;
}

.workname {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.all {
    background-color: rgb(227, 100, 2);
    border: 2px solid white;
    width: 200px;
    height: 45px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-evenly;

}

.all:hover {
    border: 1px solid white;
    transition: all .6s;
}

.work {
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.exp {
    text-align: center;
    color: white;
    padding-top: 50px;
    z-index: 1;
}

.exp h2 {
    text-align: center;
    width: 100%;
}

table {
    width: 80%;
    background-color: black;
    color: #000000;
    border: 2px solid rgb(227, 100, 2);
    border-radius: 10px;
    padding-bottom: 5px;
    z-index: 1;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 70px;
    text-align: left;
    z-index: 1;
    border: none;
}

th {
    border: none;
    padding-left: 30px;
}

thead {

    color: white;
    border: none;
    height: 80px;
}

tbody {
    background-color: white;
}

td {
    padding: 25px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 15px;
    padding-left: 30px;
}

.itemer {
    display: flex;
    justify-content: space-between;
}

.itemer img {
    background-color: #003E54;
    border-radius: 100%;
    border: none;
    height: 27px;
}

.timeperiod {
    font-size: 10px;
    color: black;
}

tr {
    border-bottom: 1px solid black;
}

/* tr:hover {
    background-color: #003E54;
    color: white;
    transition: all .3s;
} */

.expp {
    margin-top: 20px;
    align-self: flex-end;
    margin-right: 140px;
    z-index: 1;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 180px;
    color: white;
    display: flex;
    background-image: linear-gradient(to bottom left, black, black, rgb(227, 100, 2));
    padding: 0px 50px;
    line-height: 40px;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    border: rgb(227, 100, 2) 1px solid;
}

.soct {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.soct h2 {
    font-size: 47px;
    width: 80%;
    text-align: left;
}

.soct p {
    font-size: 15px;
}

@media only screen and (max-width:900px) {

    .red,
    .circle {
        display: none;
    }

    .text button {
        width: 150px;
    }

    footer .top {
        width: 100%;
        padding: 10px 15px;
    }

    .top form input {
        width: 120px;
        font-size: 10px;
        padding: 0%;
    }

    p {
        font-size: 14px;
        padding: 15px;
        box-sizing: border-box;
    }

    .socials p {
        padding: 0%;
    }

    h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    .btn {
        justify-content: center;
    }

    .showglass {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 50% auto;
        width: 100%;
        column-gap: 10px;
        row-gap: 10px;
        padding: 10px;
        box-sizing: border-box;
    }

    .fi {
        padding-top: 30px;
        padding: 20px;
    }

    .obj,
    .obj img {
        border-radius: 5px;
    }


    header {
        padding-bottom: 20px;
        height: 40vh;
    }

    h2 {
        width: 100%;
        font-size: 24px;
    }

    .offers {
        padding: 0%;
        width: 100%;
    }

    .offers h2 {
        font-size: 28px;
    }

    .container {
        overflow-x: scroll;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 25px;
        padding-bottom: 40px;
    }

    .card {
        width: 320px;
    }

    .prev {
        flex-direction: column;
        margin-top: 40px;
    }

    .prev .text {
        width: 100%;
    }

    .prev h2 {
        margin-bottom: 30px;
    }

    .workcard .preview {
        height: 100px;
    }

    .text button {
        width: 170px;
        font-size: 11px;
    }

    .work {
        display: grid;
        grid-template-columns: 45% 45%;
        padding: 0%;
        gap: 40px;
    }

    .workcard {
        width: 100%;
    }

    .expp {
        width: 130px;
        height: 35px;
        font-size: 11px;
        margin: 20px 0px 0px 0px;
    }

    .workcard .all {
        font-size: 9px;
        justify-content: center;
        gap: 10px;
        width: 100%;
        padding: 10px;
        height: 30px;
        border-radius: 3px;
    }

    .workcard h4 {
        font-size: 15px;
        display: none;
    }

    .workname {
        justify-content: flex-end;
        width: 100%;
    }

    td {
        padding: 5px;
        font-size: 12px;
    }

    table {
        width: 92%;
    }

    thead {
        height: 40px;
        font-size: 15px;
    }

    .soct {
        width: 100%;
    }

    .soct h2 {
        font-size: 20px;
        width: 60%;
    }

    .soct p {
        font-size: 10px;
    }

    .socials {
        width: 90%;
        flex-direction: row;
        line-height: 20px;
        text-align: left;
        justify-content: space-around;
        padding: 00px 10px;
        height: 100px;
        align-items: center;
        background-image: linear-gradient(to right, darkblue, darkblue, darkblue, #003E54, darkblue);
    }

    #all {
        width: 100px;
        font-size: 10px;
        height: 30px;
    }

    footer {
        height: 30vh;
    }

    footer p {
        font-size: 10px;
        width: 90%;
        margin-left: 13px;
    }
}